:root {

    --lit: rgb(230, 230, 230);
    --lit09: rgb(230, 230, 230, 0.9);
    --lit08: rgb(230, 230, 230, 0.8);
    --lit07: rgb(230, 230, 230, 0.7);
    --lit06: rgb(230, 230, 230, 0.6);
    --lit05: rgb(230, 230, 230, 0.5);
    --lit04: rgb(230, 230, 230, 0.4);
    --lit03: rgb(230, 230, 230, 0.3);
    --lit02: rgb(230, 230, 230, 0.2);
    --lit01: rgb(230, 230, 230, 0.1);
    --lit005: rgb(230, 230, 230, 0.05);
    --lit004: rgb(230, 230, 230, 0.04);
    --lit003: rgb(230, 230, 230, 0.03);
    --lit002: rgb(230, 230, 230, 0.02);
    --lit001: rgb(230, 230, 230, 0.01);

    --gry: rgb(175, 175, 175);
    --gry09: rgb(175, 175, 175, 0.9);
    --gry08: rgb(175, 175, 175, 0.8);
    --gry07: rgb(175, 175, 175, 0.7);
    --gry06: rgb(175, 175, 175, 0.6);
    --gry05: rgb(175, 175, 175, 0.5);
    --gry04: rgb(175, 175, 175, 0.4);
    --gry03: rgb(175, 175, 175, 0.3);
    --gry02: rgb(175, 175, 175, 0.2);
    --gry01: rgb(175, 175, 175, 0.1);
    
    --chr: rgb(105, 105, 105);
    --chr09: rgb(105, 105, 105, 0.9);
    --chr08: rgb(105, 105, 105, 0.8);
    --chr07: rgb(105, 105, 105, 0.7);
    --chr06: rgb(105, 105, 105, 0.6);
    --chr05: rgb(105, 105, 105, 0.5);
    --chr04: rgb(105, 105, 105, 0.4);
    --chr03: rgb(105, 105, 105, 0.3);
    --chr02: rgb(105, 105, 105, 0.2);
    --chr01: rgb(105, 105, 105, 0.1);

    --drk: rgb(0, 0, 23);
    --drk09: rgb(0, 0, 23, 0.9);
    --drk08: rgb(0, 0, 23, 0.8);
    --drk07: rgb(0, 0, 23, 0.7);
    --drk06: rgb(0, 0, 23, 0.6);
    --drk05: rgb(0, 0, 23, 0.5);
    --drk04: rgb(0, 0, 23, 0.4);
    --drk03: rgb(0, 0, 23, 0.3);
    --drk02: rgb(0, 0, 23, 0.2);
    --drk01: rgb(0, 0, 23, 0.1);
    
    --red: rgb(220, 25, 60);
    --red09: rgb(220, 25, 60, 0.9);
    --red08: rgb(220, 25, 60, 0.8);
    --red07: rgb(220, 25, 60, 0.7);
    --red06: rgb(220, 25, 60, 0.6);
    --red05: rgb(220, 25, 60, 0.5);
    --red04: rgb(220, 25, 60, 0.4);
    --red03: rgb(220, 25, 60, 0.3);
    --red02: rgb(220, 25, 60, 0.2);
    --red01: rgb(220, 25, 60, 0.1);
    --red005: rgb(220, 25, 60, 0.05);
    
    --ong: rgb(245, 120, 0);
    --ong09: rgb(245, 120, 0, 0.9);
    --ong08: rgb(245, 120, 0, 0.8);
    --ong07: rgb(245, 120, 0, 0.7);
    --ong06: rgb(245, 120, 0, 0.6);
    --ong05: rgb(245, 120, 0, 0.5);
    --ong04: rgb(245, 120, 0, 0.4);
    --ong03: rgb(245, 120, 0, 0.3);
    --ong02: rgb(245, 120, 0, 0.2);
    --ong01: rgb(245, 120, 0, 0.1);
    --ong005: rgb(245, 120, 0, 0.05);
    
    --ylw: rgb(230, 180, 20);
    --ylw09: rgb(230, 180, 20, 0.9);
    --ylw08: rgb(230, 180, 20, 0.8);
    --ylw07: rgb(230, 180, 20, 0.7);
    --ylw06: rgb(230, 180, 20, 0.6);
    --ylw05: rgb(230, 180, 20, 0.5);
    --ylw04: rgb(230, 180, 20, 0.4);
    --ylw03: rgb(230, 180, 20, 0.3);
    --ylw02: rgb(230, 180, 20, 0.2);
    --ylw01: rgb(230, 180, 20, 0.1);
    
    --grn: rgb(60, 210, 0); 
    --grn09: rgb(60, 210, 0, 0.9);
    --grn08: rgb(60, 210, 0, 0.8);
    --grn07: rgb(60, 210, 0, 0.7);
    --grn06: rgb(60, 210, 0, 0.6);
    --grn05: rgb(60, 210, 0, 0.5);
    --grn04: rgb(60, 210, 0, 0.4);
    --grn03: rgb(60, 210, 0, 0.3);
    --grn02: rgb(60, 210, 0, 0.2);
    --grn01: rgb(60, 210, 0, 0.1);
    
    --aqu: rgb(50, 230, 230);
    --aqu09: rgb(50, 230, 230, 0.9);
    --aqu08: rgb(50, 230, 230, 0.8);
    --aqu07: rgb(50, 230, 230, 0.7);
    --aqu06: rgb(50, 230, 230, 0.6);
    --aqu05: rgb(50, 230, 230, 0.5);
    --aqu04: rgb(50, 230, 230, 0.4);
    --aqu03: rgb(50, 230, 230, 0.3);
    --aqu02: rgb(50, 230, 230, 0.2);
    --aqu01: rgb(50, 230, 230, 0.1);
    --aqu005: rgb(50, 230, 230, 0.05);
    
    --blu: rgb(10, 120, 230);
    --blu09: rgba(10, 120, 230, 0.9);
    --blu08: rgba(10, 120, 230, 0.8);
    --blu07: rgba(10, 120, 230, 0.7);
    --blu06: rgba(10, 120, 230, 0.6);
    --blu05: rgba(10, 120, 230, 0.5);
    --blu04: rgba(10, 120, 230, 0.4);
    --blu03: rgba(10, 120, 230, 0.3);
    --blu02: rgba(10, 120, 230, 0.2);
    --blu01: rgba(10, 120, 230, 0.1);
    --blu005: rgb(10, 120, 230, 0.005);
    
    --prp: rgb(160, 70, 240);
    --prp09: rgb(160, 70, 240, 0.9);
    --prp08: rgb(160, 70, 240, 0.8);
    --prp07: rgb(160, 70, 240, 0.7);
    --prp06: rgb(160, 70, 240, 0.6);
    --prp05: rgb(160, 70, 240, 0.5);
    --prp04: rgb(160, 70, 240, 0.4);
    --prp03: rgb(160, 70, 240, 0.3);
    --prp02: rgb(160, 70, 240, 0.2);
    --prp01: rgb(160, 70, 240, 0.1);
    
    --pnk: rgb(250, 70, 200); 
    --pnk09: rgb(250, 70, 200, 0.9);
    --pnk08: rgb(250, 70, 200, 0.8);
    --pnk07: rgb(250, 70, 200, 0.7);
    --pnk06: rgb(250, 70, 200, 0.6);
    --pnk05: rgb(250, 70, 200, 0.5);
    --pnk04: rgb(250, 70, 200, 0.4);
    --pnk03: rgb(250, 70, 200, 0.3);
    --pnk02: rgb(250, 70, 200, 0.2);
    --pnk01: rgb(250, 70, 200, 0.1);
 
}